$fontPath: "/assets/fonts/";

$iconSpritePath:          "../assets/images/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../assets/images/glyphicons-halflings-white.png" !default;
