@import'config';

@import'font';

//@function url($path) {
//	$return : if(str-index($path,'/assets') != null, $path,unquote("url(../assets#{str_slice($path,3)})"));
//	@return $return;
//}

@import'sass-bootstrap/lib/bootstrap';

#fuck {
    aaa: url('../assets');
    bbb: url('/assets');
    ccc: url('assets');

    aaa4: image-url('../assets');
    bbb4: image-url('/assets');
    ccc4: image-url('assets');
    
    backgrounda: url('img/1.jpg');
    backgroundb: url('1.jpg');

    backgroundc: image-url('img/2.jpg');
    backgroundd: image-url('2.jpg');
}