.modal {
    display: none;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    &.fade .modal-dialog {
        display: none;
    }
    &.in .modal-dialog {
        visibility: hidden;
    }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
