node_modules
bower_components
crom_modules
logs
*.log
npm-debug.log*
.tmp
.grunt
.npm
pids
*.pid
*.seed
.DS_Store
._*
#*lock.*


# Custom, for this repo.
dist
.sass-cache
.cache
.parcel-cache
yarn.lock # so far I don't use Yarn, so no need this file in codebase.
#package-lock.json # even when no lock file, GitHub still verifies security, so better to add.
